{% extends 'user_profile.html' %}
{% block content %}   
<div style = "display:flex">
    <div id="manymenu" style = "display:inline-block" class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Tutorials
        <span class="caret"></span></button>
        <div class="dropdown-menu" role="menu" aria-labelledby="menu1">
            <form action="one" method="POST">
                {% csrf_token %}
                {% for topic in topics%}
                    <input role="menuitem" type="checkbox" id="{{topic.id}}" name="checkboxes" value="{{topic.id}}">
                    <label for="name{{topic.id}}"> {{topic.name}}</label><br>
                {% endfor %}
                <input type="submit" value = 'submit'><br>
            </form>
        </div>
    </div>
        <br>
        <div id="manymenu" style = "display:inline-block" class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Tutorials
            <span class="caret"></span></button>
            <div class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <form action="one" method="POST">
                    {% csrf_token %}
                    {% for topic in topics%}
                        <input role="menuitem" type="checkbox" id="{{topic.id}}" name="checkboxes" value="{{topic.id}}">
                        <label for="name{{topic.id}}"> {{topic.name}}</label><br>
                    {% endfor %}
                    <input type="submit" value = 'submit'><br>
                </form>
            </div>
        </div>
        <br>
        <div id="manymenu" style = "display:inline-block" class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Tutorials
            <span class="caret"></span></button>
            <div class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <form action="one" method="POST">
                    {% csrf_token %}
                    {% for topic in topics%}
                        <input role="menuitem" type="checkbox" id="{{topic.id}}" name="checkboxes" value="{{topic.id}}">
                        <label for="name{{topic.id}}"> {{topic.name}}</label><br>
                    {% endfor %}
                    <input type="submit" value = 'submit'><br>
                </form>
            </div>
        </div>
        <br>
        <div id="manymenu" style = "display:inline-block" class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Tutorials
            <span class="caret"></span></button>
            <div class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <form action="one" method="POST">
                    {% csrf_token %}
                    {% for topic in topics%}
                        <input role="menuitem" type="checkbox" id="{{topic.id}}" name="checkboxes" value="{{topic.id}}">
                        <label for="name{{topic.id}}"> {{topic.name}}</label><br>
                    {% endfor %}
                    <input type="submit" value = 'submit'><br>
                </form>
            </div>
        </div>  
    </div>

    <h1>Weeks Scheduled:</h1>
    {% for topics in topicsselected %}
        <h2> Week: {{topics.session.week}}, Chosen Topic: {{topics.topic}} </h2>
    {% endfor %}
    <form action = "deleteallps">
        {% csrf_token %}
        <input type="submit" value = 'Delete all chosen topics'>
    </form>
   
{% endblock content %}





        <!-- <div style = "display:inline-block">
            <form action="one" method="POST">
                {% csrf_token %}
                {% for topic in topics%}
                    <input type="checkbox" id="{{topic.id}}" name="checkboxes" value="{{topic.id}}">
                    <label for="name{{topic.id}}"> {{topic.name}}</label><br>
                {% endfor %}
                <input type="submit" value = 'submit'><br>
            </form>
        </div> -->