{% extends 'user_profile.html' %}
{% block content %}
    <div style = "display:flex">
        <div style = "display:inline-block">
            <form action="one" method="POST">
                {% csrf_token %}
                {% for topic in topics%}
                    <input type="checkbox" id="{{topic.id}}" name="checkboxes" value="{{topic.id}}">
                    <label for="name{{topic.id}}"> {{topic.name}}</label><br>
                {% endfor %}
                <input type="submit" value = 'submit'><br>
            </form>
        </div>
        <div style = "display:inline-block">
            <form action="two" method="POST">
                {% csrf_token %}
                {% for topic in topics%}
                    <input type="checkbox" id="{{topic.id}}" name="checkboxes" value="{{topic.id}}">
                    <label for="name{{topic.id}}"> {{topic.name}}</label><br>
                {% endfor %}
                <input type="submit" value = 'submit'><br>
            </form>
        </div>
        <div style = "display:inline-block">
            <form action="three" method="POST">
                {% csrf_token %}
                {% for topic in topics%}
                    <input type="checkbox" id="{{topic.id}}" name="checkboxes" value="{{topic.id}}">
                    <label for="name{{topic.id}}"> {{topic.name}}</label><br>
                {% endfor %}
                <input type="submit" value = 'submit'><br>
            </form>
        </div>
        <div style = "display:inline-block">
            <form action= 'four' method="POST">
                {% csrf_token %}
                {% for topic in topics%}
                    <input type="checkbox" id="{{topic.id}}" name="checkboxes" value="{{topic.id}}">
                    <label for="name{{topic.id}}"> {{topic.name}}</label><br>
                {% endfor %}
                <input type="submit" value = 'submit'><br>
            </form>
        </div>
        <br>

    </div>
    <h1>Currently selected topics:</h1>
    {% for topics in topicsselected %}
        <h2> {{topics}} </h2>
    {% endfor %}
{% endblock content %}