{% extends 'user_profile.html' %}
{% block content %}
<!-- is there a for statement I can write to populate these based on the number of weeks that are custom? -->
    <div style = "display:flex">
        <div style = "display:inline-block">
            <form action="one" method="POST">
                {% csrf_token %}
                {% for topic in topics%}
                    <input type="checkbox" id="{{topic.id}}" name="checkboxes" value="{{topic.id}}">
                    <label for="name{{topic.id}}"> {{topic.name}}</label><br>
                {% endfor %}
                <input type="submit" value = 'submit'><br>
            </form>
        </div>
        <!-- <div style = "display:inline-block">
            <form action="one" method="POST">
                {% csrf_token %}
                {% for topic in topics%}
                    <input type="checkbox" id="{{topic.id}}" name="checkboxes" value="{{topic.id}}">
                    <label for="name{{topic.id}}"> {{topic.name}}</label><br>
                {% endfor %}
                <input type="submit" value = 'submit'><br>
            </form>
        </div>
        <div style = "display:inline-block">
            <form action="one" method="POST">
                {% csrf_token %}
                {% for topic in topics%}
                    <input type="checkbox" id="{{topic.id}}" name="checkboxes" value="{{topic.id}}">
                    <label for="name{{topic.id}}"> {{topic.name}}</label><br>
                {% endfor %}
                <input type="submit" value = 'submit'><br>
            </form>
        </div>
        <div style = "display:inline-block">
            <form action= 'one' method="POST">
                {% csrf_token %}
                {% for topic in topics%}
                    <input type="checkbox" id="{{topic.id}}" name="checkboxes" value="{{topic.id}}">
                    <label for="name{{topic.id}}"> {{topic.name}}</label><br>
                {% endfor %}
                <input type="submit" value = 'submit'><br>
            </form>
        </div> -->
        <br>
    </div>
    <h1>Weeks Scheduled:</h1>
        {% for topics in topicsselected %}
            <h2> {{topics.session.week}} </h2>
        {% endfor %}
{% endblock content %}