<!DOCTYPE html>
<html lang="en">
<head>
    <title>User Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
        console.log('hit')
    </script>
    {% load static %}
    <style>
        #parent{width: 100%}
        #manymenu{width:max-content !important}

    </style>
</head>
<!-- <script>
        alert('{{messages}}')
</script> -->


<body>
    <div>
        <h1>Hello, {{ request.user.username }}</h1>
        <div class="container">
            {% block content %}
            {% endblock content %}
          </div>
        <a href="{% url 'login' %}">Logout</a>
    </div>
</body>
</html>
