<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/user_profile.css' %}">
</head>
<!-- <script>
        alert('{{messages}}')
</script> -->


<body>
    <div>
        <h1>Hello, {{ request.user.username }}</h1>
        <div class="container">
            {% block content %}
            {% endblock content %}
          </div>
        <a href="{% url 'login' %}">Logout</a>
    </div>
</body>
</html>
